<div class="card">
  <div class="card-header">
     product list
  </div>

  <div class="card-body">
    <div class='row'>
      <div col='col-md-2'>Filter by : {{listfilter}}  </div>
      <div col='col-md-4'><input [(ngModel)]='listfilter' ></div>
        <div col='col-md-4'>{{cc}} </div>
    </div>
    <div class='row'>
      <div col='col-md-6'>
        <h4>Filter by :</h4>
      </div>
    </div>
  </div>

 <h1 *ngIf ='products' >{{ products.length}}</h1>

  <div >
   
    <table  *ngIf ='filterproduc && filterproduc.length'>
      <thead>
        <tr>
          <th>
                <button class="btn btn-primary" (click)='togglebtn' > show image</button>
          </th>
          <th>Code</th>
          <th>Name</th>
           <th>rate</th>
        </tr>
      </thead>
       <tbody>
        <tr *ngFor='let product of filterproduc'>
            <td></td>
            <td><a [routerLink]="['/product',product.productId]">{{product.productId}}</a></td>
            <td>{{product.productName | lowercase  | ConvertToSpacesPipe: '-' }}</td>
            <td><pm-star [rating]='product.productRate'></pm-star></td>
            <td>{{product.productRate}}</td>
        </tr>
      </tbody>
     
    </table>
  </div>
</div>